//react-image-gallery
@import "react-image-gallery/styles/scss/image-gallery.scss";

html, body{
	min-width: 330px;
	font-size: 14px;
	font-family: 'M PLUS 1p', 'sans-serif';
	font-weight: 400;
	font-style: normal;
}

.image-gallery-slide .image-gallery-image{
	height: 300px;
}
