@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        font-family: 'Noto Sans JP', sans-serif;
    }
}

button:focus-visible, a:focus-visible{
	outline: 2px solid #6AA98A;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

.inputStyle {
    @apply mt-0 py-1 px-2 block w-full border rounded-md text-sm
    focus:outline-none focus:ring-2 focus:ring-mainGreen focus:border-transparent
    focus-visible:outline-0
    disabled:opacity-50 disabled:pointer-events-none
    no-spin
}

.fileStyle{
    @apply mt-0 p-1 block w-full border border-gray-400 rounded-sm text-sm no-spin
    file:bg-default file:text-white file:border-0 file:rounded-lg file:px-2 file:py-1 file:mr-4 file:hover:cursor-pointer
    focus:border-b-2 focus:border-mainGreen
    focus-visible:outline-0
}

.selectBoxStyle{
    @apply p-1 border rounded-md text-sm  focus:border-b-2 focus:border-mainGreen focus-visible:outline-0 block w-full
}

.textAreaStyle{
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-sm border focus:ring-mainGreen focus:ring-2 focus-visible:outline-0
}

.radioStyle{
    @apply w-4 h-4 bg-gray-100 border-gray-300 focus:ring-0 focus:outline-0 focus-visible:outline-0
}

.radioAccent{
    accent-color: green
}

.tdStyle{
    @apply whitespace-nowrap px-4 py-2 border
}

.planBudge{
	display: inline-block;
	position: absolute;
	left: 0;
	top: 3%;
	padding: 0 1rem;
	margin: 0;
	line-height: 1.25rem;
	font-size: 0.75rem;
	color: #fff;
	z-index: 100;

	@apply  box-border bg-orange-500 shadow-ribbon z-100 rounded-tr-[5px] rounded-br-[5px]
	before:absolute before:content-[''] before:top-0 before:-left-[7px] before:border-0 before:h-6 before:w-[7px] before:bg-orange-500 before:rounded-tl-[5px] before:rounded-bl-[5px]
	after:absolute after:content-[''] after:-bottom-[7px] after:-left-[5px] after:border-0 after:h-5 after:bg-orange-500 after:rounded-tl-[5px] after:rounded-bl-[5px]
}
