@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import "react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Noto Sans JP', sans-serif;
    }
}

button:focus-visible, a:focus-visible{
	outline: 2px solid #6AA98A;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

.inputStyle {
	margin-top: 0;
	padding: 4px 8px;
	display: block;
	width: 100%;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	font-size: 14px;

	outline: none;
}

.inputStyle:focus{
	border: 2px solid #00BF63;
	border-radius: 4px;
}

.fileStyle{
    @apply mt-0 p-1 block w-full border border-gray-400 rounded-sm text-sm no-spin
    file:bg-default file:text-white file:border-0 file:rounded-lg file:px-2 file:py-1 file:mr-4 file:hover:cursor-pointer
    focus:border-b-2 focus:border-mainGreen
    focus-visible:outline-0
}

.fileStyle{
	outline: none;
	margin-top: 0;
	padding: 4px 8px;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #dddddd;
	border-radius: 4px;
}
.fileStyle:focus{
	border:2px solid #00BF63
}
.fileStyle:focus-visible{
	outline: none;
}
.fileStyle::file-selector-button{
	background-color: #00BF63;
	color: #FFFFFF;
	border: none;
	border-radius: 8px;
	padding: 4px 8px;
	margin-right: 16px;
	font-size: 12px;
}
.fileStyle::file-selector-button:hover{
	cursor: pointer;
}

.selectBoxStyle{
	display: inline-flex;
	align-items: center;
	position: relative;
	width: 100%;
}
.selectBoxStyle::after{
	position: absolute;
	right: 8px;
	width: 10px;
	height: 7px;
	background-color: #535353;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
	content: '';
	pointer-events: none;
}
.selectBoxStyle > select{
	outline: none;
	margin-top: 0;
	padding: 4px 8px;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #dddddd;
	border-radius: 4px;
	appearance: none;
	padding: 4px calc(8px + 26px) 4px 8px;
	cursor: pointer;
}
.selectBoxStyle:focus{
	border:2px solid #00BF63
}
.selectBoxStyle:focus-visible{
	outline: none;
}

.textAreaStyle{
	outline: none;
	margin-top: 0;
	padding: 4px 8px;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #dddddd;
	border-radius: 4px;
}
.textAreaStyle:focus{
	border:2px solid #00BF63
}
.textAreaStyle:focus-visible{
	outline: none;
}

.messageTextAreaStyle{
	width: 100%;
	height: 40px;
	min-height: 24px;
	max-height: 208px;
	padding: 8px;
	background-color: #FFFFFF;
	border: 1px solid #dddddd;
	border-radius: 4px;
	resize: none;
	line-height: 20px;
	overflow: auto;
	resize: none;
}
.messageTextAreaStyle:focus{
	border:2px solid #00BF63
}
.messageTextAreaStyle:focus-visible{
	outline: none;
}

.radioStyle{
	display: flex;
	align-items: center;
	gap: 8px;
	position: relative;
	cursor: pointer;
}
.radioStyle::before, .radioStyle::after{
	border-radius: 50%;
	content: '';
}
.radioStyle::before{
	width: 18px;
	height: 18px;
	border: 2px solid #dddddd;
	box-sizing: border-box;
}
.radioStyle::after{
	position: absolute;
	top: 50%;
	left: 9px;
	transform: translate(-50%, -50%);
	width: 9px;
	height: 9px;
	background-color: #dddddd;
}
.radioStyle:has(:checked)::after{
	background-color: #00BF63;
	animation: anim-radio-2 .3s linear;
}
.radioStyle > input[type="radio"]{
	display: none;
}

.tdStyle{
    @apply whitespace-nowrap px-4 py-2 border
}

.image-gallery-slide, .image-gallery-thumbnail-inner{
	position: relative;
	overflow: hidden;
}
.image-gallery-slide::before,
.image-gallery-thumbnail-inner::before{
	content: "";
	padding-top: 100%;
	display: block;
	background-color: #c5c5c5;
}
.image-gallery-image,
.image-gallery-thumbnail-image{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}
.image-gallery.fullscreen-modal{
	z-index: 20000 !important;
}




